.site-header{
    background-color: #787878;
}



body {
    background-color: #787878;
    color: #c7c7c7;
}

.tab {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #787878;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    font-size: 0.75em;
}

.tab button:hover {
    background-color: #f1f1f1;
}

.tabContent {
    display: none;
    animation: fadeEffect 320ms;
    border-top: none;
    color: #c7c7c7;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #000000;
    margin-bottom: 12px;
    background-color: #787878;
}

table {
    display: table;
}
td {
    color: #c7c7c7;
}
tbody {
    color: #c7c7c7;
}
th {
  font-size: 0.9em;
  color: #c7c7c7;
}

th.priceWithData {
    width: 20%;
    color: #c7c7c7;
}
th.karmaType {
  width: 20%;
    color: #c7c7c7;
}
th.price {
    width: 15%;
    color: #c7c7c7;
}
th.author {
  width: 30%;
    color: #c7c7c7;
}
th.version {
  width: 20%;
    color: #c7c7c7;
}
td.description {
    font-size: 0.8em;
    color: #c7c7c7;
}
span.eventRedirect {
  cursor: pointer;
  text-decoration: underline;
  color:#22527b;
}
span.metadata {
    font-size: 0.8em;
    padding: 0px;
    font-style: italic;
    color: #5a5454;
}

@media screen and (max-width: break) {
  th.priceWithData {
    font-size: 0.9em;
    color: #f5f5f5;
  }
  th.price {
      font-size: 0.9em;
      color: #f5f5f5;
  }
  td.description {
    font-size: 0.8em;
    color: #f5f5f5;
  }
  span.metadata {
    font-size: 0.8em;
    padding: 0px;
    font-style: italic;
    color: #5a5454;
  }
}

@media screen and (max-width: sm-break) {
  th.priceWithData {
    font-size: 0.85em;
    color: #f5f5f5;
  }
  th.price {
    font-size: 0.85em;
    color: #f5f5f5;
  }
  td.description {
    font-size: 0.8em;
    color: #f5f5f5;
  }
  span.metadata {
    font-size: 0.85em;
    font-style: italic;
    color: #5a5454;
  }
}
